<div
  class="headline"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign="start center">
  <h3>Summary</h3>
</div>

<div
  class="content-area"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign="center center">

  <mat-card *ngIf="spending" class="summary-card">
    <mat-card-content>
      <h4>Spending</h4>
      <p>This Month: {{spending[0].thisMonth}}</p>
      <p>Prev Month: {{spending[0].prevMonth}}</p>
    
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="utilities" class="summary-card">
    <mat-card-content>
      <h4>Utilities</h4>
      <p>Electric: {{utilities[0].electricityUsage}} kWh</p>
      <p>Gas: {{utilities[0].gasUsage}} kWh</p>
      <p>Water: {{utilities[0].waterUsage}} m3</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="summary-card">
    <mat-card-content>Card</mat-card-content>
  </mat-card>
</div>

<div
  class="headline"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign="start center">
  <h3>Graph</h3>
</div>

<div
  class="graph">
  <mat-card>
    <mat-card-content>Graph</mat-card-content>
  </mat-card>  
</div>