<div
  class="headline"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign="start center">
  <h3>Summary</h3>
</div>

<div
  class="content-area"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign="center center">

  <mat-card *ngIf="spending" class="summary-card">
    <mat-card-content>{{spending[0].thisMonth}}</mat-card-content>
  </mat-card>
  <mat-card class="summary-card">
    <mat-card-content>Card</mat-card-content>
  </mat-card>
  <mat-card class="summary-card">
    <mat-card-content>Card</mat-card-content>
  </mat-card>
</div>

<div
  class="headline"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign="start center">
  <h3>Graph</h3>
</div>

<div
  class="graph">
  <mat-card>
    <mat-card-content>Graph</mat-card-content>
  </mat-card>  
</div>